.footer {
    padding: 2rem 0;
    margin-top: 4rem;
    border-top: 1px solid #333;
    text-align: center;
    color: var(--c-text-secondary);
    font-size: 0.8rem;
}

.copy {
    opacity: 0.7;
}