.gearContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    /* Let clicks pass through */
}

.gearSvg {
    width: 100%;
    height: 100%;
    transform-origin: center;
}